In [1]:
#Dependencies and Setup
!pip install psycopg2
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
import csv
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

Requirement already satisfied: psycopg2 in c:\users\mghan\anaconda3\lib\site-packages (2.8.3)

In [2]:
#Load the files 
file_loaded = "./tabular_aadt_2015.csv"
file_loaded_next = "./tabular_aadt_2016.csv"
file_loaded_next_next = "./tabular_aadt_2017.csv"

In [3]:
#Read CSV file containing 2015 DATA & populate a new dataframe for it
df = pd.read_csv(file_loaded)
df

,District,Route,County,Postmile,Description,Back_Peak_Hour,Back_Peak_Month,Back_AADT,Ahead_Peak_Hour,Ahead_Peak_Month,Ahead_AADT
0,12,1,ORA,R0.129,"DANA POINT, JCT. RTE. 5",0,0,0,3800,41000,37750
1,12,1,ORA,R.78,"DANA POINT, DOHENY PARK ROAD",3800,41000,37750,3900,42000,38800
2,12,1,ORA,4.864,BREAK IN ROUTE,0,0,0,0,0,0
3,12,1,ORA,8.43,"LAGUNA BEACH, MOUNTAIN ROAD",2900,39500,36800,2900,39500,36800
4,12,1,ORA,9.418,"LAGUNA BEACH, JCT. RTE. 133 NORTH",3050,41000,38500,3450,41000,38500
5,12,1,ORA,9.6,"LAGUNA BEACH, CLIFF DRIVE/ ASTER STREET",3400,40000,37400,3400,40000,37400
6,12,1,ORA,11.5,"LAGUNA BEACH, NORTH CITY LIMITS",3200,38000,35700,3200,39000,35700
7,12,1,ORA,14.057,BREAK IN ROUTE,0,0,0,0,0,0
8,12,1,ORA,R18.073,"NEWPORT BEACH, BAYSIDE DRIVE",4050,50000,45850,4850,60000,54800
9,12,1,ORA,R18.446,"NEWPORT BEACH, DOVER DRIVE",4300,53000,48650,4300,53000,48650
10,12,1,ORA,19.797,"NEWPORT BEACH, JCT. RTE. 55",4400,54000,49400,5400,53000,49400
11,12,1,ORA,20.37,"NEWPORT BEACH, BALBOA BLVD/SUPERIOR AVE",5500,52000,49150,5500,52000,49150
12,12,1,ORA,21.549,SANTA ANA RIVER BRIDGE,4250,41000,38600,4250,41000,38600
13,12,1,ORA,22.09,"HUNTINGTON BEACH, BROOKHURST STREET",4300,41500,39100,4350,42000,39100
14,12,1,ORA,23.739,"HUNTINGTON BEACH, JCT. RTE. 39 NORTH",4200,40500,38050,4200,40500,38050
15,12,1,ORA,25.89,"HUNTINGTON BEACH, GOLDENWEST STREET",4100,39500,37100,4100,40000,37100
16,12,1,ORA,29.89,"SUNSET BEACH, WARNER AVENUE",4950,47500,44350,4900,47500,44350
17,12,1,ORA,32.721,"SEAL BEACH, SEAL BEACH BOULVARD",4450,49000,45950,4450,49500,45950
18,12,1,ORA,33.719,LOS ANGELES/ORANGE COUNTY LINE,4000,45500,41550,0,0,0
19,7,1,LA,0,LOS ANGELES/ORANGE COUNTY LINE,0,0,0,4100,45500,42000
20,7,1,LA,1.86,"LONG BEACH, BELLFLOWER BOULEVARD",3350,37000,34500,2550,28000,26000
21,7,1,LA,1.973,"LONG BEACH, JCT. RTE. 22",2550,28000,26000,3400,36500,34000
22,7,1,LA,2.751,"LONG BEACH, ANAHEIM STREET",3400,36500,34000,2800,30000,28000
23,7,1,LA,5.011,"LONG BEACH, CHERRY AVENUE",3600,37000,36500,3650,37500,37000
24,7,1,LA,6.26,"LONG BEACH, LONG BEACH BOULEVARD",3200,33000,32500,3350,35000,34500
25,7,1,LA,7.288,"LONG BEACH, JCT. RTE. 710",4550,49500,40500,4350,47500,39000
26,7,1,LA,8.266,"LONG BEACH, JCT. RTE. 103",3800,41500,34000,3450,38500,31500
27,7,1,LA,9.253,"LOS ANGELES, ALAMEDA STREET",3450,38500,31500,3550,40000,32500
28,7,1,LA,10.532,"LOS ANGELES, AVALON BOULEVARD",3550,40000,33000,4350,50000,41000
29,7,1,LA,11.61,"LOS ANGELES, JCT. RTE. 110",4400,51000,41500,4250,57000,56000
...,...,...,...,...,...,...,...,...,...,...,...
6955,4,880,ALA,31.681,"OAKLAND, JCT. RTE. 980",13800,218000,207000,8300,130000,124000
6956,4,880,ALA,R32.79,ADELINE/UNION STREETS,8300,130000,124000,8600,136000,129000
6957,4,880,ALA,R33.27,7TH STREET,8600,136000,129000,7400,117000,111000
6958,4,880,ALA,R34.18R,"RTE. 880 CONNECT SF-OAK BAY BRIDGE, RIGHT ALIGN",0,0,0,1750,28000,26500
6959,4,880,ALA,R34.7R,WEST GRAND AVENUE,1750,28000,26500,2250,35500,34000
6960,4,880,ALA,R35.797R,"EAST JCT. RTE. 80, END RIGHT ALIGN",3600,39600,38500,0,0,0
6961,4,880,ALA,R33.92L,BEGIN LEFT ALIGN,0,0,0,3650,58000,55000
6962,4,880,ALA,R34.18L,"RTE. 880 CONNECT SF-OAK BAY BRIDGE, LEFT ALIGN",3650,58000,55000,2150,34000,32500
6963,4,880,ALA,R34.7L,WEST GRAND AVENUE,2150,34000,32500,2550,40500,38500
6964,4,880,ALA,R35.4L,"WEST JCT. RTE. 80, END LEFT ALIGN",2550,40500,38500,0,0,0
6965,11,905,SD,2.84,27TH STREET/ORO VISTA ROAD,0,0,0,1800,20200,20100
6966,11,905,SD,2.96R,BEGIN RIGHT ALIGN,0,0,0,920,10400,10000
6967,11,905,SD,3.19R,"SAN DIEGO, JCT. RTE. 5",920,10400,10000,920,10400,10000
6968,11,905,SD,3.207R,JCT. RTE. 5,920,10400,10000,2650,27000,26500
6969,11,905,SD,3.544R,END RIGHT ALIGN,2650,27000,26500,0,0,0
6970,11,905,SD,2.96L,BEGIN LEFT ALIGN,0,0,0,1000,10900,10400
6971,11,905,SD,3.19L,"SAN DIEGO, JCT. RTE. 5",1000,10900,10400,2500,29500,28500
6972,11,905,SD,3.55L,END LEFT ALIGN,2500,29500,28500,0,0,0
6973,11,905,SD,3.818,"SAN DIEGO, BEYER BOULEVARD",5000,57000,55000,6100,64000,62000
6974,11,905,SD,4.409,"SAN DIEGO, PICADOR BOULEVARD",6100,64000,62000,6000,64000,62000
6975,11,905,SD,5.164,JCT. RTE. 805,6000,64000,62000,6300,74000,70000
6976,11,905,SD,R6.723,CALIENTE ROAD,6300,74000,70000,5500,63000,62000
6977,11,905,SD,R8.782,BRITANNIA BLVD,5500,63000,62000,4300,55000,52000
6978,11,905,SD,R9.778,LA MEDIA ROAD,4300,55000,52000,3350,43000,41500
6979,11,905,SD,R11.366,SIEMPRE VIVA RD O.C.,3350,43000,41500,2350,32500,31000
6980,11,905,SD,R11.736,MEXICAN BORDER POE-TRUCK ENTRANCE,260,2350,2200,0,0,0
6981,4,980,ALA,0.009,"OAKLAND, JCT. RTE. 880",0,0,0,6000,88000,85000
6982,4,980,ALA,0.702,"OAKLAND, FOURTEENTH STREET",6000,88000,85000,6400,93000,90000
6983,4,980,ALA,0.904,"OAKLAND, 18TH STREET",6400,93000,90000,9400,134000,130000
6984,4,980,ALA,2.036,"OAKLAND, JCT. RTE. 580",9400,134000,130000,0,0,0

In [4]:
#Extract the columns from the 2015 CSV file ('District', 'County','Postmile') and Poplulate a new DataFrame
df_columns = ["District","County","Postmile"]
df_transformed_2015 = df[df_columns]
df_transformed_2015['Year']= 2015
df_transformed_2015

C:\Users\mghan\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      District County  Postmile  Year
0           12    ORA    R0.129  2015
1           12    ORA      R.78  2015
2           12    ORA     4.864  2015
3           12    ORA      8.43  2015
4           12    ORA     9.418  2015
5           12    ORA       9.6  2015
6           12    ORA      11.5  2015
7           12    ORA    14.057  2015
8           12    ORA   R18.073  2015
9           12    ORA   R18.446  2015
10          12    ORA    19.797  2015
11          12    ORA     20.37  2015
12          12    ORA    21.549  2015
13          12    ORA     22.09  2015
14          12    ORA    23.739  2015
15          12    ORA     25.89  2015
16          12    ORA     29.89  2015
17          12    ORA    32.721  2015
18          12    ORA    33.719  2015
19           7     LA         0  2015
20           7     LA      1.86  2015
21           7     LA     1.973  2015
22           7     LA     2.751  2015
23           7     LA     5.011  2015
24           7     LA      6.26  2015
25           7     LA     7.288  2015
26           7     LA     8.266  2015
27           7     LA     9.253  2015
28           7     LA    10.532  2015
29           7     LA     11.61  2015
...        ...    ...       ...   ...
6955         4    ALA    31.681  2015
6956         4    ALA    R32.79  2015
6957         4    ALA    R33.27  2015
6958         4    ALA   R34.18R  2015
6959         4    ALA    R34.7R  2015
6960         4    ALA  R35.797R  2015
6961         4    ALA   R33.92L  2015
6962         4    ALA   R34.18L  2015
6963         4    ALA    R34.7L  2015
6964         4    ALA    R35.4L  2015
6965        11     SD      2.84  2015
6966        11     SD     2.96R  2015
6967        11     SD     3.19R  2015
6968        11     SD    3.207R  2015
6969        11     SD    3.544R  2015
6970        11     SD     2.96L  2015
6971        11     SD     3.19L  2015
6972        11     SD     3.55L  2015
6973        11     SD     3.818  2015
6974        11     SD     4.409  2015
6975        11     SD     5.164  2015
6976        11     SD    R6.723  2015
6977        11     SD    R8.782  2015
6978        11     SD    R9.778  2015
6979        11     SD   R11.366  2015
6980        11     SD   R11.736  2015
6981         4    ALA     0.009  2015
6982         4    ALA     0.702  2015
6983         4    ALA     0.904  2015
6984         4    ALA     2.036  2015

[6985 rows x 4 columns]

In [5]:
#Read CSV file containing 2016 DATA & populate a new dataframe for it
df_next = pd.read_csv(file_loaded_next)
df_next

,District,Route,County,Postmile,Description,Back_Peak_Hour,Back_Peak_Month,Back_AADT,Ahead_Peak_Hour,Ahead_Peak_Month,Ahead_AADT
0,12,1,ORA,R.129,"DANA POINT, JCT. RTE. 5",0,0,0,3800,41000,37750
1,12,1,ORA,R.78,"DANA POINT, DOHENY PARK ROAD",3800,41000,37750,3900,42000,38800
2,12,1,ORA,R1.077,BREAK IN ROUTE,0,0,0,0,0,0
3,12,1,ORA,8.43,"LAGUNA BEACH, MOUNTAIN ROAD",2900,39500,36800,2900,39500,36800
4,12,1,ORA,9.418,"LAGUNA BEACH, JCT. RTE. 133 NORTH",3050,41000,38500,3450,41000,38500
5,12,1,ORA,9.6,"LAGUNA BEACH, CLIFF DRIVE/ ASTER STREET",3400,40000,37400,3400,40000,37400
6,12,1,ORA,11.5,"LAGUNA BEACH, NORTH CITY LIMITS",3200,38000,35700,3200,39000,35700
7,12,1,ORA,14.057,BREAK IN ROUTE,0,0,0,0,0,0
8,12,1,ORA,R18.073,"NEWPORT BEACH, BAYSIDE DRIVE",4050,50000,45850,4850,60000,54800
9,12,1,ORA,R18.446,"NEWPORT BEACH, DOVER DRIVE",4300,53000,48650,4300,53000,48650
10,12,1,ORA,19.797,"NEWPORT BEACH, JCT. RTE. 55",4400,54000,49400,5400,53000,49400
11,12,1,ORA,20.37,"NEWPORT BEACH, BALBOA BLVD/SUPERIOR AVE",5500,52000,49150,5500,52000,49150
12,12,1,ORA,21.549,SANTA ANA RIVER BRIDGE,4250,41000,38600,4250,41000,38600
13,12,1,ORA,22.09,"HUNTINGTON BEACH, BROOKHURST STREET",4300,41500,39100,4350,42000,39100
14,12,1,ORA,23.739,"HUNTINGTON BEACH, JCT. RTE. 39 NORTH",4200,40500,38050,4200,40500,38050
15,12,1,ORA,25.89,"HUNTINGTON BEACH, GOLDENWEST STREET",4100,39500,37100,4100,40000,37100
16,12,1,ORA,29.89,"SUNSET BEACH, WARNER AVENUE",4950,47500,44350,4900,47500,44350
17,12,1,ORA,32.721,"SEAL BEACH, SEAL BEACH BOULVARD",4450,49000,45950,4450,49500,45950
18,12,1,ORA,33.719,LOS ANGELES/ORANGE COUNTY LINE,4100,46000,42500,0,0,0
19,7,1,LA,0,LOS ANGELES/ORANGE COUNTY LINE,0,0,0,4100,46000,42500
20,7,1,LA,1.86,"LONG BEACH, BELLFLOWER BOULEVARD",3350,37000,34500,2550,28000,26000
21,7,1,LA,1.973,"LONG BEACH, JCT. RTE. 22",2550,28000,26000,3400,36500,34000
22,7,1,LA,2.751,"LONG BEACH, ANAHEIM STREET",3400,36500,34000,2800,30000,28000
23,7,1,LA,5.011,"LONG BEACH, CHERRY AVENUE",3600,38000,36500,3650,38500,37000
24,7,1,LA,6.26,"LONG BEACH, LONG BEACH BOULEVARD",3200,34000,32500,3350,36000,34500
25,7,1,LA,7.288,"LONG BEACH, JCT. RTE. 710",4550,49500,40500,4350,47500,39000
26,7,1,LA,8.266,"LONG BEACH, JCT. RTE. 103",3800,41500,34000,3550,39000,32000
27,7,1,LA,9.253,"LOS ANGELES, ALAMEDA STREET",3550,39000,32000,3550,40000,32500
28,7,1,LA,10.532,"LOS ANGELES, AVALON BOULEVARD",3550,40000,33000,4350,50000,41000
29,7,1,LA,11.61,"LOS ANGELES, JCT. RTE. 110",4400,51000,41500,4400,59000,56000
...,...,...,...,...,...,...,...,...,...,...,...
7026,4,880,ALA,31.681,"OAKLAND, JCT. RTE. 980",14200,0,0,8600,0,0
7027,4,880,ALA,R32.79,ADELINE/UNION STREET,8600,0,0,8900,0,0
7028,4,880,ALA,R33.27,7TH STREET,8900,0,0,7600,0,0
7029,4,880,ALA,R33.92R,BEGIN RIGHT ALIGN,0,0,0,3750,59000,56000
7030,4,880,ALA,R34.18R,"RTE. 880 CONNECT SF-OAK BAY BRIDGE, RIGHT ALIGN",3900,61000,58000,1800,29000,27500
7031,4,880,ALA,R34.7R,"WEST GRAND AVENUE, RIGHT ALIGN",1800,29000,27500,2300,37000,35000
7032,4,880,ALA,R35.797R,"EAST JCT. RTE. EB RTE. 80, END RIGHT ALIGN",2600,41500,39500,0,0,0
7033,4,880,ALA,R33.92L,BEGIN LEFT ALIGN,0,0,0,3650,58000,55000
7034,4,880,ALA,R34.18L,"RTE. 880 CONNECT SF-OAK BAY BRIDGE, LEFT ALIGN",3800,60000,57000,2200,35000,33500
7035,4,880,ALA,R34.7L,"WEST GRAND AVENUE, LEFT ALIGN",2200,35000,33500,2600,41500,39500
7036,4,880,ALA,R35.4L,"WEST JCT. RTE. WB RTE. 80, END LEFT ALIGN",2600,41500,39500,0,0,0
7037,11,905,SD,2.84,27TH STREET/ORO VISTA ROAD,0,0,0,1850,21000,20900
7038,11,905,SD,2.96R,BEGIN RIGHT ALIGN,0,0,0,950,10800,10400
7039,11,905,SD,3.207R,"SAN DIEGO, JCT. RTE. 5",950,10800,10400,2750,28500,27500
7040,11,905,SD,3.544R,END RIGHT ALIGN,2750,28500,27500,0,0,0
7041,11,905,SD,2.96L,BEGIN LEFT ALIGN,0,0,0,1050,11300,10800
7042,11,905,SD,3.19L,"SAN DIEGO, JCT. RTE. 5",1050,11300,10800,2550,31500,30000
7043,11,905,SD,3.55L,END LEFT ALIGN,2550,31500,30000,0,0,0
7044,11,905,SD,3.818,"SAN DIEGO, BEYER BOULEVARD",5200,60000,57000,6300,66000,64000
7045,11,905,SD,4.409,"SAN DIEGO, PICADOR BOULEVARD",6300,66000,64000,6200,66000,64000
7046,11,905,SD,5.164,JCT. RTE. 805,6200,66000,64000,6800,83000,79000
7047,11,905,SD,R6.723,CALIENTE ROAD,6800,83000,79000,6200,71000,70000
7048,11,905,SD,R8.782,BRITANNIA BLVD,6200,71000,70000,4800,64000,58000
7049,11,905,SD,R9.778,LA MEDIA ROAD,4800,64000,58000,3700,58000,45500
7050,11,905,SD,R11.366,SIEMPRE VIVA RD OC,3700,58000,45500,2600,35500,34000
7051,11,905,SD,R11.736,MEXICO BORDER POE-TRUCK ENTRANCE,180,2500,2350,0,0,0
7052,4,980,ALA,0.009,"OAKLAND, JCT. RTE. 880",0,0,0,6200,91000,88000
7053,4,980,ALA,0.702,"OAKLAND, FOURTEENTH STREET",6200,91000,88000,6600,96000,93000
7054,4,980,ALA,0.904,"OAKLAND, 18TH STREET",6600,96000,93000,9700,0,0
7055,4,980,ALA,2.036,"OAKLAND, JCT. RTE. 580",9700,0,0,0,0,0

In [6]:
#Extract the columns from the 2016 CSV file ('District', 'County','Postmile') and Poplulate a new DataFrame
df_columns_new = ["District","County","Postmile"]
df_transformed_2016 = df[df_columns_new]
df_transformed_2016['Year']= 2016
df_transformed_2016

C:\Users\mghan\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      District County  Postmile  Year
0           12    ORA    R0.129  2016
1           12    ORA      R.78  2016
2           12    ORA     4.864  2016
3           12    ORA      8.43  2016
4           12    ORA     9.418  2016
5           12    ORA       9.6  2016
6           12    ORA      11.5  2016
7           12    ORA    14.057  2016
8           12    ORA   R18.073  2016
9           12    ORA   R18.446  2016
10          12    ORA    19.797  2016
11          12    ORA     20.37  2016
12          12    ORA    21.549  2016
13          12    ORA     22.09  2016
14          12    ORA    23.739  2016
15          12    ORA     25.89  2016
16          12    ORA     29.89  2016
17          12    ORA    32.721  2016
18          12    ORA    33.719  2016
19           7     LA         0  2016
20           7     LA      1.86  2016
21           7     LA     1.973  2016
22           7     LA     2.751  2016
23           7     LA     5.011  2016
24           7     LA      6.26  2016
25           7     LA     7.288  2016
26           7     LA     8.266  2016
27           7     LA     9.253  2016
28           7     LA    10.532  2016
29           7     LA     11.61  2016
...        ...    ...       ...   ...
6955         4    ALA    31.681  2016
6956         4    ALA    R32.79  2016
6957         4    ALA    R33.27  2016
6958         4    ALA   R34.18R  2016
6959         4    ALA    R34.7R  2016
6960         4    ALA  R35.797R  2016
6961         4    ALA   R33.92L  2016
6962         4    ALA   R34.18L  2016
6963         4    ALA    R34.7L  2016
6964         4    ALA    R35.4L  2016
6965        11     SD      2.84  2016
6966        11     SD     2.96R  2016
6967        11     SD     3.19R  2016
6968        11     SD    3.207R  2016
6969        11     SD    3.544R  2016
6970        11     SD     2.96L  2016
6971        11     SD     3.19L  2016
6972        11     SD     3.55L  2016
6973        11     SD     3.818  2016
6974        11     SD     4.409  2016
6975        11     SD     5.164  2016
6976        11     SD    R6.723  2016
6977        11     SD    R8.782  2016
6978        11     SD    R9.778  2016
6979        11     SD   R11.366  2016
6980        11     SD   R11.736  2016
6981         4    ALA     0.009  2016
6982         4    ALA     0.702  2016
6983         4    ALA     0.904  2016
6984         4    ALA     2.036  2016

[6985 rows x 4 columns]

In [7]:
#Read CSV file containing 2017 DATA & populate a new dataframe for it
df_next_next = pd.read_csv(file_loaded_next_next)
df_next_next

,District,Route,County,Postmile,Description,Back_Peak_Hour,Back_Peak_Month,Back_AADT,Ahead_Peak_Hour,Ahead_Peak_Month,Ahead_AADT
0,12,1,ORA,R0.129,"DANA POINT, JCT. RTE. 5",0,0,0,3800,41000,37750
1,12,1,ORA,R0.78,"DANA POINT, DOHENY PARK ROAD",3800,41000,37750,3900,42000,38800
2,12,1,ORA,R1.077,BREAK IN ROUTE,0,0,0,0,0,0
3,12,1,ORA,8.43,"LAGUNA BEACH, MOUNTAIN ROAD",2900,39500,36800,2900,39500,36800
4,12,1,ORA,9.418,"LAGUNA BEACH, JCT. RTE. 133 NORTH",3050,41000,38500,3450,41000,38500
5,12,1,ORA,9.6,"LAGUNA BEACH, CLIFF DRIVE/ ASTER STREET",3400,40000,37400,3400,40000,37400
6,12,1,ORA,11.5,"LAGUNA BEACH, NORTH CITY LIMITS",3200,38000,35700,3200,39000,35700
7,12,1,ORA,14.057,BREAK IN ROUTE,0,0,0,0,0,0
8,12,1,ORA,R18.073,"NEWPORT BEACH, BAYSIDE DRIVE",4050,50000,45850,4850,60000,54800
9,12,1,ORA,R18.446,"NEWPORT BEACH, DOVER DRIVE",4300,53000,48650,4300,53000,48650
10,12,1,ORA,19.797,"NEWPORT BEACH, JCT. RTE. 55",4400,54000,49400,5400,53000,49400
11,12,1,ORA,20.37,"NEWPORT BEACH, BALBOA BLVD/SUPERIOR AVE",5500,52000,49150,5500,52000,49150
12,12,1,ORA,21.549,SANTA ANA RIVER BRIDGE,4250,41000,38600,4250,41000,38600
13,12,1,ORA,22.09,"HUNTINGTON BEACH, BROOKHURST STREET",4300,41500,39100,4350,42000,39100
14,12,1,ORA,23.739,"HUNTINGTON BEACH, JCT. RTE. 39 NORTH",4200,40500,38050,4200,40500,38050
15,12,1,ORA,25.89,"HUNTINGTON BEACH, GOLDENWEST STREET",4100,39500,37100,4100,40000,37100
16,12,1,ORA,29.89,"SUNSET BEACH, WARNER AVENUE",4950,47500,44350,4900,47500,44350
17,12,1,ORA,32.721,"SEAL BEACH, SEAL BEACH BOULVARD",4450,49000,45950,4450,49500,45950
18,12,1,ORA,33.719,LOS ANGELES/ORANGE COUNTY LINE,4100,46000,42500,0,0,0
19,7,1,LA,0,LOS ANGELES/ORANGE COUNTY LINE,0,0,0,4100,46000,42500
20,7,1,LA,1.86,"LONG BEACH, BELLFLOWER BOULEVARD",3350,37000,34500,2550,28000,26000
21,7,1,LA,1.973,"LONG BEACH, JCT. RTE. 22",2550,28000,26000,3400,36500,34000
22,7,1,LA,2.751,"LONG BEACH, ANAHEIM STREET",3400,36500,34000,2800,30000,28000
23,7,1,LA,5.011,"LONG BEACH, CHERRY AVENUE",3600,38000,36500,3650,38500,37000
24,7,1,LA,6.26,"LONG BEACH, LONG BEACH BOULEVARD",3200,34000,32500,3350,36000,34500
25,7,1,LA,7.288,"LONG BEACH, JCT. RTE. 710",4550,49500,40500,4350,47500,39000
26,7,1,LA,8.266,"LONG BEACH, JCT. RTE. 103",3800,41500,34000,3550,39000,32000
27,7,1,LA,9.253,"LOS ANGELES, ALAMEDA STREET",3550,39000,32000,3550,40000,32500
28,7,1,LA,10.532,"LOS ANGELES, AVALON BOULEVARD",3550,40000,33000,4350,50000,41000
29,7,1,LA,11.61,"LOS ANGELES, JCT. RTE. 110",4400,51000,41500,4400,59000,56000
...,...,...,...,...,...,...,...,...,...,...,...
7065,4,880,ALA,R34.7R,WEST GRAND AVENUE,2400,35000,34000,2800,41000,40000
7066,4,880,ALA,R35.797R,"EAST JCT. RTE. 80, END RIGHT ALIGN",2800,41000,40000,0,0,0
7067,4,880,ALA,R33.92L,BEGIN LEFT ALIGN,0,0,0,3900,58000,57000
7068,4,880,ALA,R34.18L,CONNECT TO SAN FRANCISCO-OAKLAND BAY BRIDGE,3900,58000,57000,2600,38000,37000
7069,4,880,ALA,R34.7L,WEST GRAND AVENUE,2600,38000,37000,2800,41000,40000
7070,4,880,ALA,R35.4L,"WEST JCT. RTE. 80, END LEFT ALIGN",2800,41000,40000,0,0,0
7071,11,905,SD,2.84,27TH STREET/ORO VISTA ROAD,0,0,0,1900,21800,21700
7072,11,905,SD,2.96R,BEGIN RIGHT ALIGN,0,0,0,980,11200,10800
7073,11,905,SD,3.207R,JCT. RTE. 5,980,11200,10800,2850,29000,28500
7074,11,905,SD,3.544R,END RIGHT ALIGN,2850,29500,28500,0,0,0
7075,11,905,SD,2.96L,BEGIN LEFT ALIGN,0,0,0,1100,11700,11200
7076,11,905,SD,3.19L,"SAN DIEGO, JCT. RTE. 5",1100,11700,11200,2600,32500,31000
7077,11,905,SD,3.55L,END LEFT ALIGN,2600,32500,31000,0,0,0
7078,11,905,SD,3.818,"SAN DIEGO, BEYER BOULEVARD",5400,62000,59000,6500,68000,66000
7079,11,905,SD,4.409,"SAN DIEGO, PICADOR BOULEVARD",6500,68000,66000,6400,68000,66000
7080,11,905,SD,5.164,JCT. RTE. 805,6400,68000,66000,7300,91000,82000
7081,11,905,SD,R6.723,CALIENTE ROAD,7100,86000,82000,6400,74000,73000
7082,11,905,SD,R8.782,BRITANNIA BLVD,6400,74000,73000,5000,66000,60000
7083,11,905,SD,R9.778,LA MEDIA ROAD,7500,75000,67000,4250,67000,53000
7084,11,905,SD,R11.366,SIEMPRE VIVA RD O.C.,3750,47500,45500,2750,36500,35500
7085,11,905,SD,R11.736,MEXICO BORDER POE-TRUCK ENTRANCE,180,2600,2450,0,0,0
7086,4,980,ALA,0.009,"OAKLAND, JCT. RTE. 880",0,0,0,6600,96000,92400
7087,4,980,ALA,0.702,"OAKLAND, FOURTEENTH STREET",6600,96000,92400,7000,101000,97700
7088,4,980,ALA,0.904,"OAKLAND, 18TH STREET",7000,101000,97700,10200,145000,140700
7089,4,980,ALA,2.036,"OAKLAND, JCT. RTE. 580",10200,145000,140700,0,0,0
7090,11,11,SD,0R,BEGIN RIGHT ALIGN,0,0,0,320,3300,3000
7091,11,11,SD,1.401,END ROUTE 11,690,6900,6300,0,0,0
7092,11,11,SD,0.137L,BEGIN LEFT ALIGN,0,0,0,300,3000,2750
7093,11,11,SD,0.481L,END LEFT ALIGN,300,3000,2750,0,0,0
7094,11,11,SD,0.481R,END RT INDEP ALIGN,320,3300,3000,0,0,0

In [8]:
#Extract the columns from the 2017 CSV file ('District', 'County','Postmile') and Poplulate a new DataFrame
df_columns_new_new = ["District","County","Postmile"]
df_transformed_2017 = df[df_columns_new_new]
df_transformed_2017['Year']= 2017
df_transformed_2017

C:\Users\mghan\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      District County  Postmile  Year
0           12    ORA    R0.129  2017
1           12    ORA      R.78  2017
2           12    ORA     4.864  2017
3           12    ORA      8.43  2017
4           12    ORA     9.418  2017
5           12    ORA       9.6  2017
6           12    ORA      11.5  2017
7           12    ORA    14.057  2017
8           12    ORA   R18.073  2017
9           12    ORA   R18.446  2017
10          12    ORA    19.797  2017
11          12    ORA     20.37  2017
12          12    ORA    21.549  2017
13          12    ORA     22.09  2017
14          12    ORA    23.739  2017
15          12    ORA     25.89  2017
16          12    ORA     29.89  2017
17          12    ORA    32.721  2017
18          12    ORA    33.719  2017
19           7     LA         0  2017
20           7     LA      1.86  2017
21           7     LA     1.973  2017
22           7     LA     2.751  2017
23           7     LA     5.011  2017
24           7     LA      6.26  2017
25           7     LA     7.288  2017
26           7     LA     8.266  2017
27           7     LA     9.253  2017
28           7     LA    10.532  2017
29           7     LA     11.61  2017
...        ...    ...       ...   ...
6955         4    ALA    31.681  2017
6956         4    ALA    R32.79  2017
6957         4    ALA    R33.27  2017
6958         4    ALA   R34.18R  2017
6959         4    ALA    R34.7R  2017
6960         4    ALA  R35.797R  2017
6961         4    ALA   R33.92L  2017
6962         4    ALA   R34.18L  2017
6963         4    ALA    R34.7L  2017
6964         4    ALA    R35.4L  2017
6965        11     SD      2.84  2017
6966        11     SD     2.96R  2017
6967        11     SD     3.19R  2017
6968        11     SD    3.207R  2017
6969        11     SD    3.544R  2017
6970        11     SD     2.96L  2017
6971        11     SD     3.19L  2017
6972        11     SD     3.55L  2017
6973        11     SD     3.818  2017
6974        11     SD     4.409  2017
6975        11     SD     5.164  2017
6976        11     SD    R6.723  2017
6977        11     SD    R8.782  2017
6978        11     SD    R9.778  2017
6979        11     SD   R11.366  2017
6980        11     SD   R11.736  2017
6981         4    ALA     0.009  2017
6982         4    ALA     0.702  2017
6983         4    ALA     0.904  2017
6984         4    ALA     2.036  2017

[6985 rows x 4 columns]

In [9]:
#Combine all three new DataFrames together into one big DataFrame WITHOUT A MERGE 
dfs = [df_transformed_2017, df_transformed_2016, df_transformed_2015]
dfs

[      District County  Postmile  Year
 0           12    ORA    R0.129  2017
 1           12    ORA      R.78  2017
 2           12    ORA     4.864  2017
 3           12    ORA      8.43  2017
 4           12    ORA     9.418  2017
 5           12    ORA       9.6  2017
 6           12    ORA      11.5  2017
 7           12    ORA    14.057  2017
 8           12    ORA   R18.073  2017
 9           12    ORA   R18.446  2017
 10          12    ORA    19.797  2017
 11          12    ORA     20.37  2017
 12          12    ORA    21.549  2017
 13          12    ORA     22.09  2017
 14          12    ORA    23.739  2017
 15          12    ORA     25.89  2017
 16          12    ORA     29.89  2017
 17          12    ORA    32.721  2017
 18          12    ORA    33.719  2017
 19           7     LA         0  2017
 20           7     LA      1.86  2017
 21           7     LA     1.973  2017
 22           7     LA     2.751  2017
 23           7     LA     5.011  2017
 24           7     LA      6.26  2017
 25           7     LA     7.288  2017
 26           7     LA     8.266  2017
 27           7     LA     9.253  2017
 28           7     LA    10.532  2017
 29           7     LA     11.61  2017
 ...        ...    ...       ...   ...
 6955         4    ALA    31.681  2017
 6956         4    ALA    R32.79  2017
 6957         4    ALA    R33.27  2017
 6958         4    ALA   R34.18R  2017
 6959         4    ALA    R34.7R  2017
 6960         4    ALA  R35.797R  2017
 6961         4    ALA   R33.92L  2017
 6962         4    ALA   R34.18L  2017
 6963         4    ALA    R34.7L  2017
 6964         4    ALA    R35.4L  2017
 6965        11     SD      2.84  2017
 6966        11     SD     2.96R  2017
 6967        11     SD     3.19R  2017
 6968        11     SD    3.207R  2017
 6969        11     SD    3.544R  2017
 6970        11     SD     2.96L  2017
 6971        11     SD     3.19L  2017
 6972        11     SD     3.55L  2017
 6973        11     SD     3.818  2017
 6974        11     SD     4.409  2017
 6975        11     SD     5.164  2017
 6976        11     SD    R6.723  2017
 6977        11     SD    R8.782  2017
 6978        11     SD    R9.778  2017
 6979        11     SD   R11.366  2017
 6980        11     SD   R11.736  2017
 6981         4    ALA     0.009  2017
 6982         4    ALA     0.702  2017
 6983         4    ALA     0.904  2017
 6984         4    ALA     2.036  2017

 [6985 rows x 4 columns],       District County  Postmile  Year
 0           12    ORA    R0.129  2016
 1           12    ORA      R.78  2016
 2           12    ORA     4.864  2016
 3           12    ORA      8.43  2016
 4           12    ORA     9.418  2016
 5           12    ORA       9.6  2016
 6           12    ORA      11.5  2016
 7           12    ORA    14.057  2016
 8           12    ORA   R18.073  2016
 9           12    ORA   R18.446  2016
 10          12    ORA    19.797  2016
 11          12    ORA     20.37  2016
 12          12    ORA    21.549  2016
 13          12    ORA     22.09  2016
 14          12    ORA    23.739  2016
 15          12    ORA     25.89  2016
 16          12    ORA     29.89  2016
 17          12    ORA    32.721  2016
 18          12    ORA    33.719  2016
 19           7     LA         0  2016
 20           7     LA      1.86  2016
 21           7     LA     1.973  2016
 22           7     LA     2.751  2016
 23           7     LA     5.011  2016
 24           7     LA      6.26  2016
 25           7     LA     7.288  2016
 26           7     LA     8.266  2016
 27           7     LA     9.253  2016
 28           7     LA    10.532  2016
 29           7     LA     11.61  2016
 ...        ...    ...       ...   ...
 6955         4    ALA    31.681  2016
 6956         4    ALA    R32.79  2016
 6957         4    ALA    R33.27  2016
 6958         4    ALA   R34.18R  2016
 6959         4    ALA    R34.7R  2016
 6960         4    ALA  R35.797R  2016
 6961         4    ALA   R33.92L  2016
 6962         4    ALA   R34.18L  2016
 6963         4    ALA    R34.7L  2016
 6964         4    ALA    R35.4L  2016
 6965        11     SD      2.84  2016
 6966        11     SD     2.96R  2016
 6967        11     SD     3.19R  2016
 6968        11     SD    3.207R  2016
 6969        11     SD    3.544R  2016
 6970        11     SD     2.96L  2016
 6971        11     SD     3.19L  2016
 6972        11     SD     3.55L  2016
 6973        11     SD     3.818  2016
 6974        11     SD     4.409  2016
 6975        11     SD     5.164  2016
 6976        11     SD    R6.723  2016
 6977        11     SD    R8.782  2016
 6978        11     SD    R9.778  2016
 6979        11     SD   R11.366  2016
 6980        11     SD   R11.736  2016
 6981         4    ALA     0.009  2016
 6982         4    ALA     0.702  2016
 6983         4    ALA     0.904  2016
 6984         4    ALA     2.036  2016

 [6985 rows x 4 columns],       District County  Postmile  Year
 0           12    ORA    R0.129  2015
 1           12    ORA      R.78  2015
 2           12    ORA     4.864  2015
 3           12    ORA      8.43  2015
 4           12    ORA     9.418  2015
 5           12    ORA       9.6  2015
 6           12    ORA      11.5  2015
 7           12    ORA    14.057  2015
 8           12    ORA   R18.073  2015
 9           12    ORA   R18.446  2015
 10          12    ORA    19.797  2015
 11          12    ORA     20.37  2015
 12          12    ORA    21.549  2015
 13          12    ORA     22.09  2015
 14          12    ORA    23.739  2015
 15          12    ORA     25.89  2015
 16          12    ORA     29.89  2015
 17          12    ORA    32.721  2015
 18          12    ORA    33.719  2015
 19           7     LA         0  2015
 20           7     LA      1.86  2015
 21           7     LA     1.973  2015
 22           7     LA     2.751  2015
 23           7     LA     5.011  2015
 24           7     LA      6.26  2015
 25           7     LA     7.288  2015
 26           7     LA     8.266  2015
 27           7     LA     9.253  2015
 28           7     LA    10.532  2015
 29           7     LA     11.61  2015
 ...        ...    ...       ...   ...
 6955         4    ALA    31.681  2015
 6956         4    ALA    R32.79  2015
 6957         4    ALA    R33.27  2015
 6958         4    ALA   R34.18R  2015
 6959         4    ALA    R34.7R  2015
 6960         4    ALA  R35.797R  2015
 6961         4    ALA   R33.92L  2015
 6962         4    ALA   R34.18L  2015
 6963         4    ALA    R34.7L  2015
 6964         4    ALA    R35.4L  2015
 6965        11     SD      2.84  2015
 6966        11     SD     2.96R  2015
 6967        11     SD     3.19R  2015
 6968        11     SD    3.207R  2015
 6969        11     SD    3.544R  2015
 6970        11     SD     2.96L  2015
 6971        11     SD     3.19L  2015
 6972        11     SD     3.55L  2015
 6973        11     SD     3.818  2015
 6974        11     SD     4.409  2015
 6975        11     SD     5.164  2015
 6976        11     SD    R6.723  2015
 6977        11     SD    R8.782  2015
 6978        11     SD    R9.778  2015
 6979        11     SD   R11.366  2015
 6980        11     SD   R11.736  2015
 6981         4    ALA     0.009  2015
 6982         4    ALA     0.702  2015
 6983         4    ALA     0.904  2015
 6984         4    ALA     2.036  2015

 [6985 rows x 4 columns]]

In [10]:
#Combine 2015 & 2016 new DataFrames together into one big DataFrame WITH A MERGE
final_df = pd.merge(df_transformed_2015,df_transformed_2016, on = 'Year', how ='outer')
final_df

       District_x County_x Postmile_x  Year  District_y County_y Postmile_y
0            12.0      ORA     R0.129  2015         NaN      NaN        NaN
1            12.0      ORA       R.78  2015         NaN      NaN        NaN
2            12.0      ORA      4.864  2015         NaN      NaN        NaN
3            12.0      ORA       8.43  2015         NaN      NaN        NaN
4            12.0      ORA      9.418  2015         NaN      NaN        NaN
5            12.0      ORA        9.6  2015         NaN      NaN        NaN
6            12.0      ORA       11.5  2015         NaN      NaN        NaN
7            12.0      ORA     14.057  2015         NaN      NaN        NaN
8            12.0      ORA    R18.073  2015         NaN      NaN        NaN
9            12.0      ORA    R18.446  2015         NaN      NaN        NaN
10           12.0      ORA     19.797  2015         NaN      NaN        NaN
11           12.0      ORA      20.37  2015         NaN      NaN        NaN
12           12.0      ORA     21.549  2015         NaN      NaN        NaN
13           12.0      ORA      22.09  2015         NaN      NaN        NaN
14           12.0      ORA     23.739  2015         NaN      NaN        NaN
15           12.0      ORA      25.89  2015         NaN      NaN        NaN
16           12.0      ORA      29.89  2015         NaN      NaN        NaN
17           12.0      ORA     32.721  2015         NaN      NaN        NaN
18           12.0      ORA     33.719  2015         NaN      NaN        NaN
19            7.0       LA          0  2015         NaN      NaN        NaN
20            7.0       LA       1.86  2015         NaN      NaN        NaN
21            7.0       LA      1.973  2015         NaN      NaN        NaN
22            7.0       LA      2.751  2015         NaN      NaN        NaN
23            7.0       LA      5.011  2015         NaN      NaN        NaN
24            7.0       LA       6.26  2015         NaN      NaN        NaN
25            7.0       LA      7.288  2015         NaN      NaN        NaN
26            7.0       LA      8.266  2015         NaN      NaN        NaN
27            7.0       LA      9.253  2015         NaN      NaN        NaN
28            7.0       LA     10.532  2015         NaN      NaN        NaN
29            7.0       LA      11.61  2015         NaN      NaN        NaN
...           ...      ...        ...   ...         ...      ...        ...
13940         NaN      NaN        NaN  2016         4.0      ALA     31.681
13941         NaN      NaN        NaN  2016         4.0      ALA     R32.79
13942         NaN      NaN        NaN  2016         4.0      ALA     R33.27
13943         NaN      NaN        NaN  2016         4.0      ALA    R34.18R
13944         NaN      NaN        NaN  2016         4.0      ALA     R34.7R
13945         NaN      NaN        NaN  2016         4.0      ALA   R35.797R
13946         NaN      NaN        NaN  2016         4.0      ALA    R33.92L
13947         NaN      NaN        NaN  2016         4.0      ALA    R34.18L
13948         NaN      NaN        NaN  2016         4.0      ALA     R34.7L
13949         NaN      NaN        NaN  2016         4.0      ALA     R35.4L
13950         NaN      NaN        NaN  2016        11.0       SD       2.84
13951         NaN      NaN        NaN  2016        11.0       SD      2.96R
13952         NaN      NaN        NaN  2016        11.0       SD      3.19R
13953         NaN      NaN        NaN  2016        11.0       SD     3.207R
13954         NaN      NaN        NaN  2016        11.0       SD     3.544R
13955         NaN      NaN        NaN  2016        11.0       SD      2.96L
13956         NaN      NaN        NaN  2016        11.0       SD      3.19L
13957         NaN      NaN        NaN  2016        11.0       SD      3.55L
13958         NaN      NaN        NaN  2016        11.0       SD      3.818
13959         NaN      NaN        NaN  2016        11.0       SD      4.409
13960         NaN      NaN        NaN  2016        11.0       SD      5.164
13961         NaN      NaN        NaN  2016        11.0       SD     R6.723
13962         NaN      NaN        NaN  2016        11.0       SD     R8.782
13963         NaN      NaN        NaN  2016        11.0       SD     R9.778
13964         NaN      NaN        NaN  2016        11.0       SD    R11.366
13965         NaN      NaN        NaN  2016        11.0       SD    R11.736
13966         NaN      NaN        NaN  2016         4.0      ALA      0.009
13967         NaN      NaN        NaN  2016         4.0      ALA      0.702
13968         NaN      NaN        NaN  2016         4.0      ALA      0.904
13969         NaN      NaN        NaN  2016         4.0      ALA      2.036

[13970 rows x 7 columns]

In [11]:
#Merge 2017 DataFrame with the merged 2015 & 2016 Dataframe
merged_df = pd.merge(final_df, df_transformed_2017, on='Year', how='outer')
merged_df

,District_x,County_x,Postmile_x,Year,District_y,County_y,Postmile_y,District,County,Postmile
0,12.0,ORA,R0.129,2015,NaN,NaN,NaN,NaN,NaN,NaN
1,12.0,ORA,R.78,2015,NaN,NaN,NaN,NaN,NaN,NaN
2,12.0,ORA,4.864,2015,NaN,NaN,NaN,NaN,NaN,NaN
3,12.0,ORA,8.43,2015,NaN,NaN,NaN,NaN,NaN,NaN
4,12.0,ORA,9.418,2015,NaN,NaN,NaN,NaN,NaN,NaN
5,12.0,ORA,9.6,2015,NaN,NaN,NaN,NaN,NaN,NaN
6,12.0,ORA,11.5,2015,NaN,NaN,NaN,NaN,NaN,NaN
7,12.0,ORA,14.057,2015,NaN,NaN,NaN,NaN,NaN,NaN
8,12.0,ORA,R18.073,2015,NaN,NaN,NaN,NaN,NaN,NaN
9,12.0,ORA,R18.446,2015,NaN,NaN,NaN,NaN,NaN,NaN
10,12.0,ORA,19.797,2015,NaN,NaN,NaN,NaN,NaN,NaN
11,12.0,ORA,20.37,2015,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,ORA,21.549,2015,NaN,NaN,NaN,NaN,NaN,NaN
13,12.0,ORA,22.09,2015,NaN,NaN,NaN,NaN,NaN,NaN
14,12.0,ORA,23.739,2015,NaN,NaN,NaN,NaN,NaN,NaN
15,12.0,ORA,25.89,2015,NaN,NaN,NaN,NaN,NaN,NaN
16,12.0,ORA,29.89,2015,NaN,NaN,NaN,NaN,NaN,NaN
17,12.0,ORA,32.721,2015,NaN,NaN,NaN,NaN,NaN,NaN
18,12.0,ORA,33.719,2015,NaN,NaN,NaN,NaN,NaN,NaN
19,7.0,LA,0,2015,NaN,NaN,NaN,NaN,NaN,NaN
20,7.0,LA,1.86,2015,NaN,NaN,NaN,NaN,NaN,NaN
21,7.0,LA,1.973,2015,NaN,NaN,NaN,NaN,NaN,NaN
22,7.0,LA,2.751,2015,NaN,NaN,NaN,NaN,NaN,NaN
23,7.0,LA,5.011,2015,NaN,NaN,NaN,NaN,NaN,NaN
24,7.0,LA,6.26,2015,NaN,NaN,NaN,NaN,NaN,NaN
25,7.0,LA,7.288,2015,NaN,NaN,NaN,NaN,NaN,NaN
26,7.0,LA,8.266,2015,NaN,NaN,NaN,NaN,NaN,NaN
27,7.0,LA,9.253,2015,NaN,NaN,NaN,NaN,NaN,NaN
28,7.0,LA,10.532,2015,NaN,NaN,NaN,NaN,NaN,NaN
29,7.0,LA,11.61,2015,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20925,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,31.681
20926,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,R32.79
20927,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,R33.27
20928,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,R34.18R
20929,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,R34.7R
20930,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,R35.797R
20931,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,R33.92L
20932,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,R34.18L
20933,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,R34.7L
20934,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,R35.4L
20935,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,2.84
20936,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,2.96R
20937,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,3.19R
20938,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,3.207R
20939,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,3.544R
20940,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,2.96L
20941,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,3.19L
20942,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,3.55L
20943,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,3.818
20944,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,4.409
20945,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,5.164
20946,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,R6.723
20947,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,R8.782
20948,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,R9.778
20949,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,R11.366
20950,NaN,NaN,NaN,2017,NaN,NaN,NaN,11.0,SD,R11.736
20951,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,0.009
20952,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,0.702
20953,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,0.904
20954,NaN,NaN,NaN,2017,NaN,NaN,NaN,4.0,ALA,2.036

In [12]:
#Concat the three DataFrames into one big DataFrame
frames  = [df_transformed_2015,df_transformed_2016,df_transformed_2017]
final_df = pd.concat(frames)
final_df

      District County  Postmile  Year
0           12    ORA    R0.129  2015
1           12    ORA      R.78  2015
2           12    ORA     4.864  2015
3           12    ORA      8.43  2015
4           12    ORA     9.418  2015
5           12    ORA       9.6  2015
6           12    ORA      11.5  2015
7           12    ORA    14.057  2015
8           12    ORA   R18.073  2015
9           12    ORA   R18.446  2015
10          12    ORA    19.797  2015
11          12    ORA     20.37  2015
12          12    ORA    21.549  2015
13          12    ORA     22.09  2015
14          12    ORA    23.739  2015
15          12    ORA     25.89  2015
16          12    ORA     29.89  2015
17          12    ORA    32.721  2015
18          12    ORA    33.719  2015
19           7     LA         0  2015
20           7     LA      1.86  2015
21           7     LA     1.973  2015
22           7     LA     2.751  2015
23           7     LA     5.011  2015
24           7     LA      6.26  2015
25           7     LA     7.288  2015
26           7     LA     8.266  2015
27           7     LA     9.253  2015
28           7     LA    10.532  2015
29           7     LA     11.61  2015
...        ...    ...       ...   ...
6955         4    ALA    31.681  2017
6956         4    ALA    R32.79  2017
6957         4    ALA    R33.27  2017
6958         4    ALA   R34.18R  2017
6959         4    ALA    R34.7R  2017
6960         4    ALA  R35.797R  2017
6961         4    ALA   R33.92L  2017
6962         4    ALA   R34.18L  2017
6963         4    ALA    R34.7L  2017
6964         4    ALA    R35.4L  2017
6965        11     SD      2.84  2017
6966        11     SD     2.96R  2017
6967        11     SD     3.19R  2017
6968        11     SD    3.207R  2017
6969        11     SD    3.544R  2017
6970        11     SD     2.96L  2017
6971        11     SD     3.19L  2017
6972        11     SD     3.55L  2017
6973        11     SD     3.818  2017
6974        11     SD     4.409  2017
6975        11     SD     5.164  2017
6976        11     SD    R6.723  2017
6977        11     SD    R8.782  2017
6978        11     SD    R9.778  2017
6979        11     SD   R11.366  2017
6980        11     SD   R11.736  2017
6981         4    ALA     0.009  2017
6982         4    ALA     0.702  2017
6983         4    ALA     0.904  2017
6984         4    ALA     2.036  2017

[20955 rows x 4 columns]

In [95]:
#Create an Engine that connects Pandas to pgAdmine
Base = automap_base()
connection_string = "postgres:ghaithramahi1@localhost:5433/California_Traffic"
engine = create_engine(f'postgresql://{connection_string}')

#Engine Connection
conn = engine.raw_connection()

In [96]:
#Confirm tables
engine.table_names()

['test', 'ca_traffic', 'premise', 'CA_Traffic', 'hi']

In [94]:
#Print and confirm final DataFrame
final_df

      District County  Postmile  Year
0           12    ORA    R0.129  2015
1           12    ORA      R.78  2015
2           12    ORA     4.864  2015
3           12    ORA      8.43  2015
4           12    ORA     9.418  2015
5           12    ORA       9.6  2015
6           12    ORA      11.5  2015
7           12    ORA    14.057  2015
8           12    ORA   R18.073  2015
9           12    ORA   R18.446  2015
10          12    ORA    19.797  2015
11          12    ORA     20.37  2015
12          12    ORA    21.549  2015
13          12    ORA     22.09  2015
14          12    ORA    23.739  2015
15          12    ORA     25.89  2015
16          12    ORA     29.89  2015
17          12    ORA    32.721  2015
18          12    ORA    33.719  2015
19           7     LA         0  2015
20           7     LA      1.86  2015
21           7     LA     1.973  2015
22           7     LA     2.751  2015
23           7     LA     5.011  2015
24           7     LA      6.26  2015
25           7     LA     7.288  2015
26           7     LA     8.266  2015
27           7     LA     9.253  2015
28           7     LA    10.532  2015
29           7     LA     11.61  2015
...        ...    ...       ...   ...
6955         4    ALA    31.681  2017
6956         4    ALA    R32.79  2017
6957         4    ALA    R33.27  2017
6958         4    ALA   R34.18R  2017
6959         4    ALA    R34.7R  2017
6960         4    ALA  R35.797R  2017
6961         4    ALA   R33.92L  2017
6962         4    ALA   R34.18L  2017
6963         4    ALA    R34.7L  2017
6964         4    ALA    R35.4L  2017
6965        11     SD      2.84  2017
6966        11     SD     2.96R  2017
6967        11     SD     3.19R  2017
6968        11     SD    3.207R  2017
6969        11     SD    3.544R  2017
6970        11     SD     2.96L  2017
6971        11     SD     3.19L  2017
6972        11     SD     3.55L  2017
6973        11     SD     3.818  2017
6974        11     SD     4.409  2017
6975        11     SD     5.164  2017
6976        11     SD    R6.723  2017
6977        11     SD    R8.782  2017
6978        11     SD    R9.778  2017
6979        11     SD   R11.366  2017
6980        11     SD   R11.736  2017
6981         4    ALA     0.009  2017
6982         4    ALA     0.702  2017
6983         4    ALA     0.904  2017
6984         4    ALA     2.036  2017

[20955 rows x 4 columns]

In [105]:
#Load DataFrames into pgAdmin
final_df.to_sql(name="CA_Traffic", con=engine, if_exists='append', index=False, schema = 'public')

In [72]:
#Extra software version check
!pip freeze

alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.8.3
appnope==0.1.0
appscript==1.0.1
asn1crypto==0.24.0
astroid==2.2.5
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
bitarray==0.9.3
bkcharts==0.2
bleach==3.1.0
bokeh==1.2.0
boto==2.49.0
Bottleneck==1.2.1
census==0.8.13
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
citipy==0.0.5
Click==7.0
cloudpickle==1.2.1
clyent==1.2.2
colorama==0.4.1
contextlib2==0.5.5
cryptography==2.7
cycler==0.10.0
Cython==0.29.12
cytoolz==0.10.0
dask==2.1.0
decorator==4.4.0
defusedxml==0.6.0
distributed==2.1.0
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
future==0.17.1
geojson==2.5.0
gevent==1.4.0
glob2==0.7
gmaps==0.9.0
gmpy2==2.0.8
greenlet==0.4.15
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.17
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.3
jellyfish==0.5.6
Jinja2==2.10.1
joblib==0.13.2
json5==0.8.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.0.2
jupyterlab-server==1.0.0
kdtree==0.16
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
lief==0.9.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.3.4
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
mock==3.0.5
more-itertools==7.0.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.4
nose==1.3.7
notebook==6.0.0
numba==0.45.0
numexpr==2.6.9
numpy==1.16.4
numpydoc==0.9.1
olefile==0.46
openpyxl==2.6.2
openweathermapy==0.6.6
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.0
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.4
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.9
psutil==5.6.3
psycopg2==2.8.3
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.3.1
pymongo==3.9.0
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyrsistent==0.14.11
PySocks==1.7.0
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
requests==2.22.0
rope==0.14.0
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
splinter==0.11.0
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.5
statsmodels==0.10.0
sympy==1.4
tables==3.5.2
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.32.1
traitlets==4.3.2
typed-ast==1.3.4
unicodecsv==0.14.1
urllib3==1.24.2
us==1.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.5.0
wrapt==1.11.2
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.8
xlwings==0.15.8
xlwt==1.2.0
zict==1.0.0
zipp==0.5.1

In [80]:
#Reconfirm Database
final_df

      District County  Postmile  Year
0           12    ORA    R0.129  2015
1           12    ORA      R.78  2015
2           12    ORA     4.864  2015
3           12    ORA      8.43  2015
4           12    ORA     9.418  2015
5           12    ORA       9.6  2015
6           12    ORA      11.5  2015
7           12    ORA    14.057  2015
8           12    ORA   R18.073  2015
9           12    ORA   R18.446  2015
10          12    ORA    19.797  2015
11          12    ORA     20.37  2015
12          12    ORA    21.549  2015
13          12    ORA     22.09  2015
14          12    ORA    23.739  2015
15          12    ORA     25.89  2015
16          12    ORA     29.89  2015
17          12    ORA    32.721  2015
18          12    ORA    33.719  2015
19           7     LA         0  2015
20           7     LA      1.86  2015
21           7     LA     1.973  2015
22           7     LA     2.751  2015
23           7     LA     5.011  2015
24           7     LA      6.26  2015
25           7     LA     7.288  2015
26           7     LA     8.266  2015
27           7     LA     9.253  2015
28           7     LA    10.532  2015
29           7     LA     11.61  2015
...        ...    ...       ...   ...
6955         4    ALA    31.681  2017
6956         4    ALA    R32.79  2017
6957         4    ALA    R33.27  2017
6958         4    ALA   R34.18R  2017
6959         4    ALA    R34.7R  2017
6960         4    ALA  R35.797R  2017
6961         4    ALA   R33.92L  2017
6962         4    ALA   R34.18L  2017
6963         4    ALA    R34.7L  2017
6964         4    ALA    R35.4L  2017
6965        11     SD      2.84  2017
6966        11     SD     2.96R  2017
6967        11     SD     3.19R  2017
6968        11     SD    3.207R  2017
6969        11     SD    3.544R  2017
6970        11     SD     2.96L  2017
6971        11     SD     3.19L  2017
6972        11     SD     3.55L  2017
6973        11     SD     3.818  2017
6974        11     SD     4.409  2017
6975        11     SD     5.164  2017
6976        11     SD    R6.723  2017
6977        11     SD    R8.782  2017
6978        11     SD    R9.778  2017
6979        11     SD   R11.366  2017
6980        11     SD   R11.736  2017
6981         4    ALA     0.009  2017
6982         4    ALA     0.702  2017
6983         4    ALA     0.904  2017
6984         4    ALA     2.036  2017

[20955 rows x 4 columns]